<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.SysdiagramsMapper">
  <resultMap id="BaseResultMap" type="org.example.model.Sysdiagrams">
    <!--@mbg.generated-->
    <!--@Table sysdiagrams-->
    <id column="diagram_id" jdbcType="INTEGER" property="diagramId" />
    <result column="name" jdbcType="OTHER" property="name" />
    <result column="principal_id" jdbcType="INTEGER" property="principalId" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="definition" jdbcType="VARBINARY" property="definition" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    diagram_id, [name], principal_id, version, [definition]
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sysdiagrams
    where diagram_id = #{diagramId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sysdiagrams
    where diagram_id = #{diagramId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="diagram_id" keyProperty="diagramId" parameterType="org.example.model.Sysdiagrams" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sysdiagrams ([name], principal_id, version, 
      [definition])
    values (#{name,jdbcType=OTHER}, #{principalId,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, 
      #{definition,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" keyColumn="diagram_id" keyProperty="diagramId" parameterType="org.example.model.Sysdiagrams" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sysdiagrams
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        [name],
      </if>
      <if test="principalId != null">
        principal_id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="definition != null">
        [definition],
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=OTHER},
      </if>
      <if test="principalId != null">
        #{principalId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="definition != null">
        #{definition,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.example.model.Sysdiagrams">
    <!--@mbg.generated-->
    update sysdiagrams
    <set>
      <if test="name != null">
        [name] = #{name,jdbcType=OTHER},
      </if>
      <if test="principalId != null">
        principal_id = #{principalId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="definition != null">
        [definition] = #{definition,jdbcType=VARBINARY},
      </if>
    </set>
    where diagram_id = #{diagramId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.example.model.Sysdiagrams">
    <!--@mbg.generated-->
    update sysdiagrams
    set [name] = #{name,jdbcType=OTHER},
      principal_id = #{principalId,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      [definition] = #{definition,jdbcType=VARBINARY}
    where diagram_id = #{diagramId,jdbcType=INTEGER}
  </update>
</mapper>